@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.wrapper {
  background: #abc;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Meiryo", "メイリオ", Myriad, Helvetica, Arial, sans-serif;
}
.wrapper * {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.wrapper {
  min-width: 910px;
}

.spr-square {
  background: url('../img/square-s437d4b585a.png?1401437060') no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: 3060px, 50px;
  -moz-background-size: 3060px, 50px;
  -o-background-size: 3060px, 50px;
  background-size: 3060px, 50px;
  display: inline-block;
  text-indent: -9999px;
}

.spr-square.f0001 {
  background-position: 0 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0002 {
  background-position: -51px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0003 {
  background-position: -102px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0004 {
  background-position: -153px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0005 {
  background-position: -204px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0006 {
  background-position: -255px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0007 {
  background-position: -306px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0008 {
  background-position: -357px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0009 {
  background-position: -408px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0010 {
  background-position: -459px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0011 {
  background-position: -510px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0012 {
  background-position: -561px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0013 {
  background-position: -612px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0014 {
  background-position: -663px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0015 {
  background-position: -714px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0016 {
  background-position: -765px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0017 {
  background-position: -816px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0018 {
  background-position: -867px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0019 {
  background-position: -918px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0020 {
  background-position: -969px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0021 {
  background-position: -1020px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0022 {
  background-position: -1071px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0023 {
  background-position: -1122px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0024 {
  background-position: -1173px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0025 {
  background-position: -1224px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0026 {
  background-position: -1275px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0027 {
  background-position: -1326px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0028 {
  background-position: -1377px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0029 {
  background-position: -1428px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0030 {
  background-position: -1479px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0031 {
  background-position: -1530px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0032 {
  background-position: -1581px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0033 {
  background-position: -1632px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0034 {
  background-position: -1683px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0035 {
  background-position: -1734px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0036 {
  background-position: -1785px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0037 {
  background-position: -1836px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0038 {
  background-position: -1887px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0039 {
  background-position: -1938px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0040 {
  background-position: -1989px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0041 {
  background-position: -2040px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0042 {
  background-position: -2091px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0043 {
  background-position: -2142px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0044 {
  background-position: -2193px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0045 {
  background-position: -2244px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0046 {
  background-position: -2295px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0047 {
  background-position: -2346px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0048 {
  background-position: -2397px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0049 {
  background-position: -2448px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0050 {
  background-position: -2499px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0051 {
  background-position: -2550px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0052 {
  background-position: -2601px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0053 {
  background-position: -2652px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0054 {
  background-position: -2703px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0055 {
  background-position: -2754px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0056 {
  background-position: -2805px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0057 {
  background-position: -2856px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0058 {
  background-position: -2907px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0059 {
  background-position: -2958px 0;
  width: 50px;
  height: 50px;
}

.spr-square.f0060 {
  background-position: -3009px 0;
  width: 50px;
  height: 50px;
}
